In [20]:
import pandas as pd
import json
import time
from datetime import datetime

In [25]:
df = pd.read_csv('~/Desktop/new_annotation_list_10251634.csv')
df = df.fillna(0).astype({'from':int, 'to':int})
df['UID'] = '1.2.826.0.1.3680043.' + df['id'].astype('string')
df

,id,from,to,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,UID
0,17524,170,173,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.17524
1,17706,59,0,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.17706
2,17782,59,0,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.17782
3,17858,93,95,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.17858
4,18060,70,0,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.18060
5,18060,107,109,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.18060
6,18861,291,292,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.18861
7,18945,85,88,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.18945
8,19304,249,252,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.19304
9,20004,194,198,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.20004
10,20163,108,112,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.20163
11,20180,229,231,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.20180
12,21171,169,176,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.21171
13,21370,110,113,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.21370
14,21810,218,224,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.21810
15,22081,168,171,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.22081
16,23431,211,0,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.23431
17,23597,90,91,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.23597
18,23658,200,203,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.23658
19,23758,83,94,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.23758
20,24317,226,233,0.0,0.0,0.0,0.0,1.2.826.0.1.3680043.24317

In [26]:
data = []
for i in range(len(df)):
    s = df.iloc[i]

    for axial_index in range(s['from'], (s['to']+1) if s['to'] != 0 else (s['from'] + 1)):
        ele = {
            "data": {
                "image": f"/data/local-files?d=train_axial_images_jpeg95/{s.UID}/{axial_index}.jpeg"
            }
        }
        data.append(ele)

task_code = datetime.now().strftime("%H%M%S")
with open(f"/Users/longyikim/Desktop/label_image_tasks_{task_code}.json", "w") as outfile:
    json.dump(data, outfile)