In [1]:
import os
import glob
import pandas as pd
from tqdm import tqdm

In [2]:
DATA_DIR = "/Volumes/SSD9701/"
# DATA_DIR = "/root/autodl-tmp/cervical_spine/"
SAGITTAL_IMAGES_DIR = os.path.join(DATA_DIR, 'train_sagittal_images_jpeg95')

In [3]:
center_df = pd.read_csv(os.path.join(DATA_DIR, 'sagittal_center_slice.csv'))
center_df = center_df.astype({'UID':'string'})
for i in range(len(center_df)):
    center_df.at[i, "UID"] = f"1.2.826.0.1.3680043.{center_df.iloc[i].UID}"

center_df = center_df.set_index('UID')
print(len(center_df))
center_df.head()

2011

                           sagittal_center_slice  label_scale
UID
1.2.826.0.1.3680043.10001                    281           32
1.2.826.0.1.3680043.10005                    255           32
1.2.826.0.1.3680043.10014                    261           32
1.2.826.0.1.3680043.10016                    278           32
1.2.826.0.1.3680043.10032                    250           32

In [4]:
# UID = 10005
# center_slice = 255
# file_path = os.path.join(SAGITTAL_IMAGES_DIR, "1.2.826.0.1.3680043." + str(UID), f"{str(center_slice)}.jpeg")
# target_path = f"../dataset/sagittal_center/{UID}-{str(center_slice)}.jpeg"
# !cp $file_path $target_path

In [5]:
train_df = pd.read_csv(os.path.join(DATA_DIR, 'train.csv'))
train_df["UID"] = train_df["StudyInstanceUID"]
train_df = train_df.set_index('UID')
train_df = train_df.loc[center_df.index]
print(len(train_df))
train_df.head()

2011

,StudyInstanceUID,patient_overall,C1,C2,C3,C4,C5,C6,C7
UID,,,,,,,,,
1.2.826.0.1.3680043.10001,1.2.826.0.1.3680043.10001,0,0,0,0,0,0,0,0
1.2.826.0.1.3680043.10005,1.2.826.0.1.3680043.10005,0,0,0,0,0,0,0,0
1.2.826.0.1.3680043.10014,1.2.826.0.1.3680043.10014,0,0,0,0,0,0,0,0
1.2.826.0.1.3680043.10016,1.2.826.0.1.3680043.10016,1,0,1,0,0,0,0,0
1.2.826.0.1.3680043.10032,1.2.826.0.1.3680043.10032,0,0,0,0,0,0,0,0

In [6]:
c2_df = train_df[train_df.C2 == 1]
c2_df.head()

,StudyInstanceUID,patient_overall,C1,C2,C3,C4,C5,C6,C7
UID,,,,,,,,,
1.2.826.0.1.3680043.10016,1.2.826.0.1.3680043.10016,1,0,1,0,0,0,0,0
1.2.826.0.1.3680043.10204,1.2.826.0.1.3680043.10204,1,1,1,0,0,0,0,0
1.2.826.0.1.3680043.10261,1.2.826.0.1.3680043.10261,1,1,1,0,0,0,0,0
1.2.826.0.1.3680043.10443,1.2.826.0.1.3680043.10443,1,0,1,0,0,0,0,0
1.2.826.0.1.3680043.10673,1.2.826.0.1.3680043.10673,1,0,1,0,0,0,0,0

In [7]:
df = center_df.loc[c2_df.index]
print(len(df))
df.head()

281

                           sagittal_center_slice  label_scale
UID
1.2.826.0.1.3680043.10016                    278           32
1.2.826.0.1.3680043.10204                    236           32
1.2.826.0.1.3680043.10261                    254           32
1.2.826.0.1.3680043.10443                    252           32
1.2.826.0.1.3680043.10673                    231           32

In [8]:
for i in tqdm(range(len(df))):
    s = df.iloc[i]
    UID = s.name
    center_slice = s.sagittal_center_slice
    file_path = os.path.join(SAGITTAL_IMAGES_DIR, UID, f"{center_slice}.jpeg")
    target_path = os.path.join(DATA_DIR, "train_sagittal_images_c2_center", f"{UID}-{center_slice}.jpeg")
    !cp $file_path $target_path

100%|██████████| 281/281 [00:35<00:00,  7.86it/s]